/*//.phpunit.cache
/*/node_modules
/*/public/build
/*/public/hot
/*/public/storage
/*/storage/*.key
/*/vendor
/*/.env
/*/.env.backup
/*/.env.production
/*/.phpunit.result.cache
/*/Homestead.json
/*/Homestead.yaml
/*/auth.json
/*/npm-debug.log
/*/yarn-error.log
/*//.fleet
/*//.idea
/*//.vscode


/best_uts/*/node_modules
/best_uts/*/public/build
/best_uts/*/public/hot
/best_uts/*/public/storage
/best_uts/*/storage/*.key
/best_uts/*/vendor
/best_uts/*/.env
/best_uts/*/.env.backup
/best_uts/*/.env.production
/best_uts/*/.phpunit.result.cache
/best_uts/*/Homestead.json
/best_uts/*/Homestead.yaml
/best_uts/*/auth.json
/best_uts/*/npm-debug.log
/best_uts/*/yarn-error.log
/best_uts/*//.fleet
/best_uts/*//.idea
/best_uts/*//.vscode

/tugas
/learning